<div class="row main">
    <div class="col-11 m-auto" *ngIf="detail=='no'">
        <p id="nocontact">select contact to see details</p>
    </div>
    <div class="col-11" *ngIf="detail=='yes'">
        
         <div class="row justify-content-end">
            <div class="col-9">
                <div class="row">
                    <div class="col-3 p-0">
                        <img src="{{this.specificContact.imgPath}}" class="image" alt="">
                    </div>
                    <div class="col-9 my-auto">
                        <div class="w-100">
                            <p class="name">{{this.specificContact.firstName}} {{this.specificContact.lastName}}</p>
                            <p class="designation">{{this.specificContact.designation}}</p>
                        </div>
                        <div class="w-100 d-flex mt-1">
                            <button><i class="far fa-comments"></i> Message</button>
                            <i class="fas fa-phone-alt icon"></i>
                            <i class="fas fa-calendar-day icon"></i>
                            <i class="fas fa-ellipsis-h icon"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row margin">
                    <div class="col-3">
                        <p class="label">Bio</p>
                    </div>
                    <div class="col-9">
                        <p class="detail">{{this.specificContact.ContactDetail.bio}}</p>
                    </div>
                </div>
                <div class="row margin">
                    <div class="col-3">
                        <p class="label">Email</p>
                    </div>
                    <div class="col-9">
                        <div class="d-flex justify-content-between">
                            <p class="detail">{{this.specificContact.ContactDetail.primaryEmail}}</p>
                            <p class="primary">Primary</p>
                        </div>
                        <p class="detail">{{this.specificContact.ContactDetail.SecondaryEmail}}</p>
                    </div>
                </div>
                <div class="row margin" *ngIf="this.specificContact.ContactDetail.meeting">
                    <div class="col-3">
                        <p class="label">Meeting</p>
                    </div>
                    <div class="col-9">
                        <p class="detail">{{this.specificContact.ContactDetail.meeting}}</p>
                    </div>
                </div>
                <div class="row margin">
                    <div class="col-3">
                        <p class="label">Phone</p>
                    </div>
                    <div class="col-9">
                        <div class="d-flex justify-content-between">
                            <p class="detail">{{this.specificContact.ContactDetail.primaryPhone}}</p>
                            <p class="primary">Primary</p>
                        </div>
                        <p class="detail">{{this.specificContact.ContactDetail.secondaryPhone}}</p>
                    </div>
                </div>
                <div class="row margin">
                    <div class="col-3">
                        <p class="label">social</p>
                    </div>
                    <div class="col-9 d-flex">
                        <i class="fab fa-facebook-f icon" *ngIf="this.specificContact.ContactDetail.facebook"></i>
                        <i class="fab fa-twitter icon"  *ngIf="this.specificContact.ContactDetail.twitter"></i>
                        <i class="fab fa-linkedin-in icon"  *ngIf="this.specificContact.ContactDetail.linkwdin"></i>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>