<div class="row main">
    <div class="col-11 m-auto">
        <p id="nocontact">select contact to see details</p>
    </div>
    <!--  <div class="col-11">
        
         <div class="row justify-content-end">
            <div class="col-9">
                <div class="row">
                    <div class="col-3 p-0">
                        <img src="/assets/black.jpg" class="image" alt="">
                    </div>
                    <div class="col-9 my-auto">
                        <div class="w-100">
                            <p class="name">Abdulla shah</p>
                            <p class="designation">developer</p>
                        </div>
                        <div class="w-100 d-flex mt-1">
                            <button><i class="far fa-comments"></i> Message</button>
                            <i class="fas fa-phone-alt icon"></i>
                            <i class="fas fa-calendar-day icon"></i>
                            <i class="fas fa-ellipsis-h icon"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row margin">
                    <div class="col-3">
                        <p class="label">Bio</p>
                    </div>
                    <div class="col-9">
                        <p class="detail">whenfffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff sgsggv
                            rfjrjr</p>
                    </div>
                </div>
                <div class="row margin">
                    <div class="col-3">
                        <p class="label">Email</p>
                    </div>
                    <div class="col-9">
                        <div class="d-flex justify-content-between">
                            <p class="detail">whenffffffffffffff sgsggv rfjrjr</p>
                            <p class="primary">Primary</p>
                        </div>
                        <p class="detail">whenffffffffffffff sgsggv rfjrjr</p>
                    </div>
                </div>
                <div class="row margin">
                    <div class="col-3">
                        <p class="label">Meeting</p>
                    </div>
                    <div class="col-9">
                        <p class="detail">whenffsgsggv rfjrjr</p>
                    </div>
                </div>
                <div class="row margin">
                    <div class="col-3">
                        <p class="label">Phone</p>
                    </div>
                    <div class="col-9">
                        <div class="d-flex justify-content-between">
                            <p class="detail">03110006542</p>
                            <p class="primary">Primary</p>
                        </div>
                        <p class="detail">03110006542</p>
                    </div>
                </div>
                <div class="row margin">
                    <div class="col-3">
                        <p class="label">social</p>
                    </div>
                    <div class="col-9 d-flex">
                        <i class="fab fa-facebook-f icon"></i>
                        <i class="fab fa-twitter icon"></i>
                        <i class="fab fa-linkedin-in icon"></i>
                    </div>
                </div>
            </div>
        </div> 
    </div>-->
</div>