.icon {
  padding: 7px;
  background-color: #fff;
  border: 1px solid #f4f3f8;
  border-radius: 3px;
  color: #797A80;
  cursor: pointer;
}

h3 {
  font-size: 17px;
  font-weight: bold;
  color: #000;
  margin: auto 10px;
}

.md-form {
  margin-bottom: 0;
}

#search {
  width: 100%;
}

::placeholder {
  font-size: 12px;
}

.fa-search {
  font-size: 13px;
  margin-top: 5px;
}

#heading {
  font-size: 13px;
  font-weight: bold;
  color: #000;
}

.image {
  height: 45px;
  width: 45px;
  border-radius: 10px;
}

.name {
  font-size: 13px;
  font-weight: bold;
  color: #000;
  margin-bottom: 0;
  text-transform: capitalize;
}

.designation {
  font-size: 12px;
  font-weight: 300;
  color: #797A80;
  margin-bottom: 0;
  text-transform: capitalize;
}

::ng-deep .md-form input[type=text]:focus:not([readonly]),
.md-form input[type=password]:focus:not([readonly]),
.md-form input[type=email]:focus:not([readonly]),
.md-form input[type=url]:focus:not([readonly]),
.md-form input[type=time]:focus:not([readonly]),
.md-form input[type=date]:focus:not([readonly]),
.md-form input[type=datetime-local]:focus:not([readonly]),
.md-form input[type=tel]:focus:not([readonly]),
.md-form input[type=number]:focus:not([readonly]),
.md-form input[type=search-md]:focus:not([readonly]),
.md-form input[type=search]:focus:not([readonly]),
.md-form textarea.md-textarea:focus:not([readonly]) {
  box-shadow: 0 1px 0 0 #6655be;
  border-bottom: 1px solid #6655be;
}
.spDtl{
  padding-top: 10px;
  padding-bottom: 20px;
  cursor: pointer;
}
.spDtl:hover{
  background-color: #fff;
}