<div class="row">
    <div class="col-12 d-flex">
        <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
            <i class="fas fa-list icon"></i>
        </a>
        <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
                <li nz-menu-item routerLink="../addContact">Create contact</li>
            </ul>
        </nz-dropdown-menu>
        <h3>Contacts</h3>
    </div>
    <div class="col-12">
        <div class="md-form">
            <!-- Green (keyup)="search(searchText.value)" -->
            <input type="text" id="search" #searchText nz-input placeholder="search for contact"  />
        </div>
    </div>
    <div class="col-12 d-flex justify-content-between mt-2">
        <p id="heading" routerLink="../contactDetail">Name,email or phone number</p>
        <i class="fas fa-search"></i>
    </div>
    <div class="col-12">
        <div class="row spDtl" *ngFor="let data of allcontactsArray; let i=index" (click)="showDetails(i)">
            <div class="col-2 text-right">
                <img src="{{data.imgPath}}" class="image" alt="">
            </div>
            <div class="col-6 p-0 my-auto">
                <p class="name">{{data.firstName}} {{data.lastName}}</p>
                <p class="designation">{{data.designation}}</p>
            </div>
            <div class="col-4 d-flex justify-content-between m-auto">
                <i class="far fa-comments icon"></i>
                <i class="fas fa-phone-alt icon"></i>
                <i class="fas fa-ellipsis-h icon"></i>
            </div>
        </div>
    </div>
</div>