h3 {
  margin-top: 20px;
  font-weight: 400;
}

label {
  font-weight: bold;
  margin-bottom: 0;
}

.categoryInput {
  width: 100%;
  border: 1px solid #f04b6c;
  padding: 3px 10px;
  margin-bottom: 10px;
}

nz-select {
  width: 100%;
  border: 1px solid #f04b6c;
  margin-bottom: 10px;
}

.save {
  border: none;
  outline: none;
  margin: 10px 0;
  padding: 10px 0px;
  background-image: linear-gradient(to right, #f17947, #f04b6c);
  border-radius: 5px;
  color: #fff;
  width: 30%;
}

button i {
  margin-right: 5px;
}

h6 {
  font-weight: 400;
  color: #fff;
  padding: 10px 0;
  border-radius: 4px 4px 0 0;
  background-image: linear-gradient(to right, #f17947, #f04b6c);
}

.mainCategory {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  padding-left: 20px;
  margin-bottom: 10px;
}

.subCategory {
  width: 100%;
  text-transform: capitalize;
  padding-left: 50px;
  margin-bottom: 1px;
}

.mainCategory i,
.subCategory i {
  margin-right: 5px;
}
.extraicon{
  color: green;
}
.extraicon1{
  color: red;
}
::ng-deep .ant-modal{
  min-width: 60%;
  margin: auto;
}
::ng-deep .ant-modal-footer{
  display: none;
}
.paid {
  border: none;
  outline: none;
  padding: 10px 30px;
  background-image: linear-gradient(to right, #0ebb0e, #11bd36);
  border-radius: 5px;
  color: #fff;
  width: 100%;
}
