<div class="row">
    <div class="col-12 text-center">
        <h3>Item Categories and Subcategories</h3>
    </div>
    <div class="col-7 ">
        <div class="row justify-content-center">
            <div class="col-7 mt-3">
                <form class="example-form" (ngSubmit)="onSubmitCategory()" [formGroup]="addCategoryFormGroup"
                    #myform="ngForm">
                    <div>
                        <label>Create new item category</label>
                        <input type="text" class="categoryInput" [formControl]="categoryForm.category">
                        <mdb-error
                            *ngIf="categoryForm.category.invalid && (categoryForm.category.dirty || categoryForm.category.touched || myform.submitted)">
                            {{ getCategoryError() }}
                        </mdb-error>
                    </div>

                    <button class="save"><i class="fas fa-bars"></i> Create</button>

                </form>
            </div>

            <div class="col-7 mt-5">
                <form class="example-form" (ngSubmit)="onSubmitSubCategory()" [formGroup]="addSubCategoryFormGroup"
                    #myform1="ngForm">
                    <div>
                        <label>Select item category</label>
                        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select parent category"
                            [formControl]="subCategoryForm.parentCategory" (ngModelChange)="getDetails()">
                            <nz-option *ngFor="let type of itemCategories" nzLabel=" {{ type.name }} " nzValue="{{ type.id }}">
                            </nz-option>
                        </nz-select>
                        <mdb-error
                            *ngIf="subCategoryForm.parentCategory.invalid && (subCategoryForm.parentCategory.dirty || subCategoryForm.parentCategory.touched || myform1.submitted)">
                            {{ getParentCategoryError() }}
                        </mdb-error>
                    </div>

                    <div> <label>Create new item subcategory</label>
                        <input type="text" class="categoryInput" [formControl]="subCategoryForm.subCategory">
                        <mdb-error
                            *ngIf="subCategoryForm.subCategory.invalid && (subCategoryForm.subCategory.dirty || subCategoryForm.subCategory.touched || myform1.submitted)">
                            {{ getsubCategoryError() }}
                        </mdb-error>
                    </div>
                    <button class="save"><i class="fas fa-stream"></i> Create</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-5 mt-4">
        <div class="row cursor">
            <div class="col-11 text-center">
                <h6>Selected category & its subcategoies</h6>
            </div>
            <div class="col-11" *ngIf="selectedCategory!=null">
                <div class="row">
                    <div class="col-10">
                        <p class="mainCategory"><i class="fas fa-list-ul"></i> {{selectedCategory}}</p>

                    </div>
                    <div class="col-2 d-flex justify-content-between">
                        <i class="far fa-edit extraicon" (click)="edit('itemMain')"></i>
                        <i class="far fa-trash-alt extraicon1"
                         nz-popconfirm nzPopconfirmTitle="Are you sure delete this ?" 
                         nzPopconfirmPlacement="bottom" (nzOnConfirm)="confirm('itemMain')" (nzOnCancel)="cancel()"></i>
                    </div>
                </div>
            </div>
            <div class="col-11" *ngFor="let child of itemSubcategories; let i = index">
                <div class="row">
                    <div class="col-10">
                        <p class="subCategory"><i class="fas fa-stream"></i> {{child.name}}</p>
                    </div>
                    <div class="col-2 d-flex justify-content-between">
                        <i class="far fa-edit extraicon" (click)="edit('itemSub',i)"></i>
                        <i class="far fa-trash-alt extraicon1"
                         nz-popconfirm nzPopconfirmTitle="Are you sure delete this ?" 
                         nzPopconfirmPlacement="bottom" (nzOnConfirm)="confirm('itemSub',i)" (nzOnCancel)="cancel()"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<nz-modal [(nzVisible)]="updateModalVisibility" nzTitle="Update .. " (nzOnCancel)="cancelUpdateModal()">
    <div *nzModalContent>
        <div class="row justify-content-center">
            <div class="col-7">
                <form class="example-form" (ngSubmit)="onSubmitUpdateModal()" [formGroup]="updateFormGroup"
                    #myform2="ngForm">
                    <div>
                        <label>Update Name</label>
                        <input type="text" class="categoryInput" [formControl]="updateForm.name">
                        <mdb-error
                            *ngIf="updateForm.name.invalid && (updateForm.name.dirty || updateForm.name.touched || myform2.submitted)">
                            {{ getNameError() }}
                        </mdb-error>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-4 text-center">
                            <button class="paid">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</nz-modal>