<div class="row justify-content-center">
    <div class="col-12 text-center">
        <h3>Create New Contact</h3>
    </div>
    <div class="col-6 mt-3">
        <form class="example-form" (ngSubmit)="onSubmitItemDetail()" [formGroup]="addItemFormGroup" #myform1="ngForm">
            <div class="row">
                <div class="text-right col-12">
                    <nz-upload [nzBeforeUpload]="beforeUpload" [(nzFileList)]="fileList">
                        <i class="fas fa-pencil-alt" id="img-icon"></i>
                    </nz-upload>
                    <img class="img" src="{{ itemImage }}" alt="Profile pic" />
                </div>

                <div class="col-md-6">
                    <input type="text" class="categoryInput" [formControl]="addItemForm.name" placeholder="First Name">
                    <mdb-error
                        *ngIf="addItemForm.name.invalid && (addItemForm.name.dirty || addItemForm.name.touched || myform1.submitted)">
                        {{ getNameError() }}
                    </mdb-error>
                </div>
                <div class="col-md-6">
                    <input type="text" class="categoryInput" [formControl]="addItemForm.name" placeholder="Last Name">

                </div>
                <div class="col-md-6">
                    <input type="text" class="categoryInput" [formControl]="addItemForm.designation"
                        placeholder="Designation">
                    <mdb-error
                        *ngIf="addItemForm.designation.invalid && (addItemForm.designation.dirty || addItemForm.designation.touched || myform1.submitted)">
                        {{ getDesignationError() }}
                    </mdb-error>
                </div>

                <div class="col-md-6">
                    <input type="text" class="categoryInput" [formControl]="addItemForm.primaryPhone"
                        placeholder="Primary Phone">
                    <mdb-error
                        *ngIf="addItemForm.primaryPhone.invalid && (addItemForm.primaryPhone.dirty || addItemForm.primaryPhone.touched || myform1.submitted)">
                        {{ getPrimaryPhoneError() }}
                    </mdb-error>
                </div>

                <div class="col-md-6">
                    <input type="text" class="categoryInput" [formControl]="addItemForm.secondaryPhone"
                        placeholder="Secondary Phone">
                </div>
                <div class="col-md-6">
                    <input type="text" class="categoryInput" [formControl]="addItemForm.primaryEmail"
                        placeholder="Primary Email">
                    <mdb-error
                        *ngIf="addItemForm.primaryEmail.invalid && (addItemForm.primaryEmail.dirty || addItemForm.primaryEmail.touched || myform1.submitted)">
                        {{ getPrimaryEmailError() }}
                    </mdb-error>
                </div>
                <div class="col-md-6">
                    <input type="text" class="categoryInput" [formControl]="addItemForm.secondaryEmail"
                        placeholder="Secondary Email">
                </div>
                <div class="col-md-2 text-center">
                    <label>Facebook</label>
                    <nz-switch [(ngModel)]="facebook"></nz-switch>
                </div>
                <div class="col-md-2 text-center">
                    <label>Twitter</label>
                    <nz-switch [(ngModel)]="twitter"></nz-switch>
                </div>
                <div class="col-md-2 text-center">
                    <label>Linkedin</label>
                    <nz-switch [(ngModel)]="linkedin"></nz-switch>
                </div>
                <div class="col-md-12 mt-2">
                    <input type="text" class="categoryInput" [formControl]="addItemForm.bio" placeholder="Bio">
                    <mdb-error
                        *ngIf="addItemForm.bio.invalid && (addItemForm.bio.dirty || addItemForm.bio.touched || myform1.submitted)">
                        {{ getBoError() }}
                    </mdb-error>

                </div>
                <div class="col-6">
                    <button type="submit" class="save">Create</button>
                </div>
            </div>
        </form>
    </div>
</div>