<div class="row justify-content-center">
    <div class="col-10">
        <button routerLink="../dahboard">Home</button>
    </div>
    <div class="col-12 text-center">
        <h3>Create New Contact</h3>
    </div>
    <div class="col-6 mt-3">
        <form class="example-form" (ngSubmit)="onSubmitContactDetail()" [formGroup]="addContactFormGroup" #myform1="ngForm">
            <div class="row">
                <div class="text-right col-12">
                    <nz-upload [nzBeforeUpload]="beforeUpload" [(nzFileList)]="fileList">
                        <i class="fas fa-pencil-alt" id="img-icon"></i>
                    </nz-upload>
                    <img class="img" src="{{ contactImage }}" alt="Profile pic" />
                </div>

                <div class="col-md-6">
                    <input type="text" class="categoryInput" [formControl]="addContactForm.firstName" placeholder="First Name">
                    <mdb-error
                        *ngIf="addContactForm.firstName.invalid && (addContactForm.firstName.dirty || addContactForm.firstName.touched || myform1.submitted)">
                        {{ getNameError() }}
                    </mdb-error>
                </div>
                <div class="col-md-6">
                    <input type="text" class="categoryInput" [formControl]="addContactForm.lastName" placeholder="Last Name">

                </div>
                <div class="col-md-6">
                    <input type="text" class="categoryInput" [formControl]="addContactForm.designation"
                        placeholder="Designation">
                    <mdb-error
                        *ngIf="addContactForm.designation.invalid && (addContactForm.designation.dirty || addContactForm.designation.touched || myform1.submitted)">
                        {{ getDesignationError() }}
                    </mdb-error>
                </div>

                <div class="col-md-6">
                    <input type="text" class="categoryInput" [formControl]="addContactForm.primaryPhone"
                        placeholder="Primary Phone" [textMask]="{mask: phonemask}">
                    <mdb-error
                        *ngIf="addContactForm.primaryPhone.invalid && (addContactForm.primaryPhone.dirty || addContactForm.primaryPhone.touched || myform1.submitted)">
                        {{ getPrimaryPhoneError() }}
                    </mdb-error>
                </div>

                <div class="col-md-6">
                    <input type="text" class="categoryInput" [formControl]="addContactForm.secondaryPhone"
                        placeholder="Secondary Phone" [textMask]="{mask: phonemask}">
                </div>
                <div class="col-md-6">
                    <input type="text" class="categoryInput" [formControl]="addContactForm.primaryEmail"
                        placeholder="Primary Email">
                    <mdb-error
                        *ngIf="addContactForm.primaryEmail.invalid && (addContactForm.primaryEmail.dirty || addContactForm.primaryEmail.touched || myform1.submitted)">
                        {{ getPrimaryEmailError() }}
                    </mdb-error>
                </div>
                <div class="col-md-6">
                    <input type="text" class="categoryInput" [formControl]="addContactForm.secondaryEmail"
                        placeholder="Secondary Email">
                </div>
                <div class="col-md-6">
                    <input type="text" class="categoryInput" [formControl]="addContactForm.meeting"
                        placeholder="Meeting Address">
                </div>
                
                <div class="col-md-12 mt-2">
                    <input type="text" class="categoryInput" [formControl]="addContactForm.bio" placeholder="Bio">
                    <mdb-error
                        *ngIf="addContactForm.bio.invalid && (addContactForm.bio.dirty || addContactForm.bio.touched || myform1.submitted)">
                        {{ getBioError() }}
                    </mdb-error>
                </div>
                <div class="col-md-2 text-center">
                    <label>Facebook</label>
                    <nz-switch [(ngModel)]="facebook" [ngModelOptions]="{standalone: true}"></nz-switch>
                </div>
                <div class="col-md-2 text-center">
                    <label>Twitter</label>
                    <nz-switch [(ngModel)]="twitter" [ngModelOptions]="{standalone: true}"></nz-switch>
                </div>
                <div class="col-md-2 text-center">
                    <label>Linkedin</label>
                    <nz-switch [(ngModel)]="linkedin" [ngModelOptions]="{standalone: true}"></nz-switch>
                </div>
                <div class="col-6 text-right">
                    <button type="submit" class="save">Create</button>
                </div>
            </div>
        </form>
    </div>
</div>