h3 {
  margin-top: 20px;
  font-weight: 400;
}

.search {
  width: 48%;
}

.tbl_img {
  height: 50px;
  width: 50px;
}

label {
  font-weight: 300;
  margin-bottom: 0;
}

nz-select {
  width: 100%;
  border: 1px solid #f04b6c;
  margin-bottom: 10px;
}

::ng-deep .md-form input[type=text]:focus:not([readonly]),
.md-form input[type=password]:focus:not([readonly]),
.md-form input[type=email]:focus:not([readonly]),
.md-form input[type=url]:focus:not([readonly]),
.md-form input[type=time]:focus:not([readonly]),
.md-form input[type=date]:focus:not([readonly]),
.md-form input[type=datetime-local]:focus:not([readonly]),
.md-form input[type=tel]:focus:not([readonly]),
.md-form input[type=number]:focus:not([readonly]),
.md-form input[type=search-md]:focus:not([readonly]),
.md-form input[type=search]:focus:not([readonly]),
.md-form textarea.md-textarea:focus:not([readonly]) {
  box-shadow: 0 1px 0 0 #f04b6c;
  border-bottom: 1px solid #f04b6c;
}
