<div class="row justify-content-center">
    <div class="col-12 text-center">
        <h3>All Items</h3>
    </div>
    <div class="col-8">
        <div class="md-form">
            <!-- <input type="text" class="search" nz-input placeholder="search" Green (keyup)="search(searchText.value)"/> -->
            <input type="text" class="search" #searchText nz-input placeholder="search" Green (keyup)="search(searchText.value)" />
        </div>
    </div>
    <div class="col-8">
        <form class="example-form" [formGroup]="serachItemFormGroup" #myform1="ngForm">
            <div class="row">
                <div class="col-6">
                    <label>Select parent category</label>
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select parent category"
                        [formControl]="itemsForm.parentCategory" (ngModelChange)="getSubcategories()">
                        <nz-option *ngFor="let type of itemCategories" nzLabel=" {{ type.name }} " nzValue="{{ type.id }}">
                        </nz-option>
                    </nz-select>
                </div>
                <div class="col-6">
                    <label>Select subcategory</label>
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select subcategory"
                        [formControl]="itemsForm.subCategory" (ngModelChange)="getSubcategoriesItems()">
                        <nz-option *ngFor="let type of itemSubcategories" nzLabel=" {{ type.name }} "
                            nzValue="{{ type.id }}">
                        </nz-option>
                    </nz-select>
                </div>
            </div>
            
        </form>
    </div>
    <div class="col-8">
        <nz-table #sortTablen nzShowSizeChanger nzBordered nzTableLayout="fixed" [nzData]="this.itemInfoArray">
            <thead>
                <tr>
                    <th class="text-center" *ngFor="let head of headElements; let i = index" [sortBy]="headElements[i]"
                        scope="col">
                        {{ head | titlecase }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <ng-container>
                    <tr class="table-row" style="text-align: center" routerLink="../edititems/{{ data.id }}" *ngFor="let data of sortTablen.data">
                        <td>{{data.name}}</td>
                        <td>{{data.description}}</td>
                        <td>{{data.price}}</td>
                        <td>
                            <img src="{{data.imagePath}}" class="tbl_img" />
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </nz-table>
    </div>
</div>