<div class="row">
    <div class="col-12 text-center">
        <h3>Add New Item</h3>
    </div>
    <div class="col-7">
        <div class="row justify-content-center">
            <div class="col-7 mt-3">
                <form class="example-form" (ngSubmit)="onSubmitItemDetail()" [formGroup]="addItemFormGroup"
                    #myform1="ngForm">
                    <div>
                        <label>Select parent category</label>
                        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select parent category"
                            [formControl]="addItemForm.parentCategory" (ngModelChange)="getDetails()">
                            <nz-option *ngFor="let type of itemCategories" nzLabel=" {{ type.name }} " nzValue="{{ type.id }}">
                            </nz-option>
                        </nz-select>
                        <mdb-error
                            *ngIf="addItemForm.parentCategory.invalid && (addItemForm.parentCategory.dirty || addItemForm.parentCategory.touched || myform1.submitted)">
                            {{ getParentCategoryError() }}
                        </mdb-error>
                    </div>
                    <div>
                        <label>Select subcategory</label>
                        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select subcategory"
                            [formControl]="addItemForm.subCategory">
                            <nz-option *ngFor="let type of itemSubcategories" nzLabel=" {{ type.name }} " nzValue="{{ type.id }}">
                            </nz-option>
                        </nz-select>
                        <mdb-error
                            *ngIf="addItemForm.subCategory.invalid && (addItemForm.subCategory.dirty || addItemForm.subCategory.touched || myform1.submitted)">
                            {{ getSubCategoryError() }}
                        </mdb-error>
                    </div>

                    <div>
                        <label>Enter Name</label>
                        <input type="text" class="categoryInput" [formControl]="addItemForm.name">
                        <mdb-error
                            *ngIf="addItemForm.name.invalid && (addItemForm.name.dirty || addItemForm.name.touched || myform1.submitted)">
                            {{ getNameError() }}
                        </mdb-error>
                    </div>
                    <div>
                        <label>Enter Description</label>
                        <input type="text" class="categoryInput" [formControl]="addItemForm.description">
                        <mdb-error
                            *ngIf="addItemForm.description.invalid && (addItemForm.description.dirty || addItemForm.description.touched || myform1.submitted)">
                            {{ getDescriptionError() }}
                        </mdb-error>
                    </div>
                    <div>
                        <label>Enter Price</label>
                        <input class="categoryInput" [formControl]="addItemForm.price" type="number">
                        <mdb-error
                            *ngIf="addItemForm.price.invalid && (addItemForm.price.dirty || addItemForm.price.touched || myform1.submitted)">
                            {{ getPriceError() }}
                        </mdb-error>
                    </div>
                    <div >
                        <label for="Picture">Select picture</label>
                        <div class="input-group">
                            <div class="clearfix">
                                <nz-upload [nzRemove]="onRemove"  [nzBeforeUpload]="beforeUpload" nzListType="picture-card" [(nzFileList)]="fileList" [nzShowButton]="fileList.length < 1" [nzPreview]="handlePreview">
                                    <div>
                                        <i nz-icon nzType="plus"></i>
                                        <div style="margin-top: 8px">Upload</div>
                                    </div>
                                </nz-upload>
                                <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" ngDefaultControl (nzOnCancel)="previewVisible = false">
                                    <ng-template #modalContent>
                                        <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
                                    </ng-template>
                                </nz-modal>
                            </div>
                            <mdb-error *ngIf="((this.fileList.length < 1) && myform1.submitted)">
                                {{ getImageError() }}
                            </mdb-error>
                        </div>
                    </div>

                    <button type="submit" class="save"><i class="fas fa-sitemap"></i> Create</button>
                </form>
            </div>
        </div>
    </div>
</div>