<div class="row">
    <div class="col-12">
        <div class="menu">
            <i class="fal fa-hat-chef logo"></i>
            <ul class="navList">
                <li routerLink="addItemCategories">
                    Categories
                </li>
                <li routerLink="additems">
                    Add Item
                </li>
                <li routerLink="allitems">
                    All Items
                </li>
                <li routerLink="addTableCategories">
                    Tables
                </li>
                <li routerLink="edititems">
                    etc
                </li>
            </ul>
        </div>
    </div>
        <div class="col-12 margintop">
            <router-outlet></router-outlet>
        </div>
</div>