<div class="row">
    <div class="col-12">
        <div class="menu">
            <i class="fal fa-hat-chef logo"></i>
            <ul class="navList">
                <li routerLink="dahboard">
                    Dashboard
                </li>
                <li routerLink="allContacts">
                    All Contacts
                </li>
                <li routerLink="contactDetail">
                    Contact Detail
                </li>
                <li routerLink="addContact">
                    Add Contacts
                </li>
            </ul>
        </div>
    </div>
        <div class="col-12 margintop">
            <router-outlet></router-outlet>
        </div>
</div>