<div class="row">
    <div class="col-12 text-center">
        <h3>Edit Item</h3>
    </div>
    <div class="col-7">
        <div class="row justify-content-center">
            <div class="col-7 mt-3">
                <form class="example-form" (ngSubmit)="onSubmitItemDetail()" [formGroup]="editItemFormGroup"
                    #myform1="ngForm">
                    <div>
                        <label>Parent category</label>
                        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select parent category"
                            [formControl]="editItemForm.parentCategory" (ngModelChange)="getDetails()" >
                            <nz-option *ngFor="let type of itemCategories" nzLabel=" {{ type.name }} "
                                [nzValue]="type.id">
                            </nz-option>
                        </nz-select>
                    </div>
                    <div>
                        <label>Subcategory</label>
                        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select subcategory"
                            [formControl]="editItemForm.subCategory">
                            <nz-option *ngFor="let type of itemSubcategories" nzLabel=" {{ type.name }} "
                                [nzValue]="type.id">
                            </nz-option>
                        </nz-select>
                        <mdb-error
                            *ngIf="editItemForm.subCategory.invalid && (editItemForm.subCategory.dirty || editItemForm.subCategory.touched || myform1.submitted)">
                            {{ getSubCategoryError() }}
                        </mdb-error>
                    </div>

                    <div>
                        <label>Name</label>
                        <input type="text" class="categoryInput" [formControl]="editItemForm.name">
                        <mdb-error
                            *ngIf="editItemForm.name.invalid && (editItemForm.name.dirty || editItemForm.name.touched || myform1.submitted)">
                            {{ getNameError() }}
                        </mdb-error>
                    </div>
                    <div>
                        <label>Description</label>
                        <input type="text" class="categoryInput" [formControl]="editItemForm.description">
                        <mdb-error
                            *ngIf="editItemForm.description.invalid && (editItemForm.description.dirty || editItemForm.description.touched || myform1.submitted)">
                            {{ getDescriptionError() }}
                        </mdb-error>
                    </div>
                    <div>
                        <label>Price</label>
                        <input type="number" class="categoryInput" [formControl]="editItemForm.price">
                        <mdb-error
                            *ngIf="editItemForm.price.invalid && (editItemForm.price.dirty || editItemForm.price.touched || myform1.submitted)">
                            {{ getPriceError() }}
                        </mdb-error>
                    </div>
                    <div class="mt-3">
                        <label for="Picture">Select picture</label>
                        <nz-upload [nzBeforeUpload]="beforeUpload" [(nzFileList)]="fileList">
                            <i class="fas fa-pencil-alt" id="img-icon"></i>
                        </nz-upload>
                        <img class="img" src="{{ itemImage }}" alt="Profile pic" />
                    </div>
                    <button class="save"><i class="fas fa-sitemap"></i> Update</button>
                </form>
            </div>
        </div>
    </div>
</div>